@model CartIndexViewModel
@{
    ViewData["Title"] = "AddToCart";
}

<h1>Your Cart</h1>

@{
    int finalTotalItems = 0;
    int totalItems = 0;
    double totalDue = 0.0;
    double finalTotalDue = 0.0;
}
<table class="table table-bordered table-striped list ">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th>Price</th>
            <th>Quantity in cart</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    @for (var i = 0; i < Model.Cart.Lines.Count(); i++)
    {
        <tbody>
            @{
                totalItems = 0;
                totalDue = 0;
                totalItems += (int)Model.Cart.Lines.ToList()[i].Quantity;
                totalDue += totalItems * (double)Model.Cart.Lines.ToList()[i].Product.Price;
                int id = (int)@Model.Cart.Lines.ToList()[i].Product.Id;
                finalTotalItems += totalItems;
                finalTotalDue += totalDue;
            }
            <tr>
                <td>
                    @using (Html.BeginForm("UpdateQuantity", "Products", FormMethod.Get))
                    {
                        @Html.TextBox("quantity", "1")
                        <input type="hidden" name="id" value="@id" />
                        <input type="submit" value="Update quantity" />
                    }
                </td>

                <td>@Model.Cart.Lines.ToList()[i].Product.ProductName</td>
                <td>@Model.Cart.Lines.ToList()[i].Product.Price.ToString("c")</td>
                <td>@Model.Cart.Lines.ToList()[i].Quantity </td>

                @*<td><a class="btn btn-primary"  asp-route-id="@Model.Cart.Lines.ToList()[i].Product.Id"  asp-route-quantity="quantity" asp-route-returnUrl="Products/AddToCart">Update Quantity</a></td>*@

                <td><a class="btn btn-primary" asp-action="RemoveFromCart" asp-route-id="@Model.Cart.Lines.ToList()[i].Product.Id" asp-route-returnUrl="Products/Index">Remove From Cart</a></td>
            </tr>





        </tbody>
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><h5>@finalTotalItems Item(s) in Cart</h5></td>
        <td><h5>Total Due: @finalTotalDue.ToString("c")</h5></td>
    </tr>
</table>


    <div class="text-center">
        <a class="btn btn-primary" href="/@Model.ReturnUrl">Continue Shopping</a>
    </div>

