@model ProductReviewViewModel


@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>

}


<div class="row w-100 p-0 w-0">
       
@foreach (var item in Model.Products)
{
    int totalReviews = 0;
    double ratingTotal = 0;

    double average = 0.00;
    string averageOutput = "";
    <div class="col-lg-4 mb-2">
        <div class="card mx-auto card h-100" style="width:18rem;">
            <object class="card-img-top" data="~/images/@Html.DisplayFor(modelItem => item.ImageName)" type="image/jpg">
                <img class="card-img-top" src="~/images/No-Image.png"/>
            </object>
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h4>
                <h5 class="card-text">@Html.DisplayFor(modelItem => item.Price)</h5>

                @foreach (var review in Model.Reviews)
                {
                    @if (item.Id == review.ProductID)
                    {

                        ratingTotal += review.Rating;
                        totalReviews++;

                    }
                }
                @if (totalReviews != 0)
                {
                    average = ratingTotal / totalReviews;
                    average = Math.Round(average, 2);
                    averageOutput = "Rated "+ @average+" out of 5 stars.";
                }
                else { averageOutput = "There are no reviews for this product."; }
                
                @averageOutput




            </div>
                <div class="card-footer text-center">
                    @if (User.IsInRole("Admin"))
                    {
                    <p>
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <a class="btn btn-primary" asp-action="ReviewIndex" asp-route-id="@item.Id">Read Review</a>
                        <a class="btn btn-primary" asp-action="CreateReview" asp-route-id="@item.Id">Leave a Review</a>
                    </p>
                    }
                    else
                    {
                <p>
                    <a class="btn btn-primary" asp-action="CreateReview" asp-route-id="@item.Id">Leave a Review</a>
                    <a class="btn btn-primary" asp-action="ReviewIndex" asp-route-id="@item.Id">Read Review</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-primary" asp-action="AddToCart" asp-route-id="@item.Id" asp-route-returnUrl="Products/Index">Add To Cart</a>
                </p>
                    }
                </div>
            
        </div>
    </div>
}
</div>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                <img src="~/images/@Html.DisplayFor(modelItem => item.ImageName)" width="120" asp-append-version="true" />
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="AddToCart" asp-route-id="@item.Id" asp-route-returnUrl="Products/Index">Add To Cart</a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="AddToCart" asp-route-id="@item.Id" asp-route-returnUrl="Products/Index">Add To Cart</a>
                </td>
            }

        </tr>
        }
    </tbody>
</table>*@
